html {
  font-family: sans-serif;
  background: url(/images/bg.jpg) no-repeat center center fixed;
  background-color: #111111;
  color: #eeeeee;
  height: 100%;
}

body {
  background: transparent;
  height: 100%;
}

.container {
  height: 80%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: auto;
  text-align: center;
  font-weight: lighter;
}

img {
  display: block;
  max-height: 360px;
  margin-bottom: 60px;
  border-radius: 10px;
  box-shadow:         3px 3px 5px 6px #111111;
}

h1, h2 {
  font-weight: lighter;
  text-shadow: 0px 2px 2px rgba(10, 10, 10, 0.4);
}

h1 {
  font-size: 2.75rem;

}

.rfe-form__row {
  display: inline;
}

.rfe-form {
  margin-top: 30px;
}

.rfe-form__row label {
  display: none;
}

.rfe-form__row input {
  color: #212121;
  vertical-align: middle;
  width: 200px;
  border: 1px solid #212121;
  padding: 10px;
  font-size: 14px;
}

.rfe-form button {
  color: #212121;
  vertical-align: middle;
  width: 100px;
  border: 1px solid #212121;
  border-left: 0px solid #212121;
  padding: 10px;
  font-size: 14px;
  background: #f7df1e;
  cursor: pointer;
  font-weight: bold;
}

.rfe-form button:hover {
  background: #212121;
  color: #f7df1e;
  cursor: pointer;
}

.foot {
  display: none;
}